<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Réinitialiser mot de passe | {{App.name}}</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Font Awesome -->
    <link rel="stylesheet" href="{{asset("admin/plugins/fontawesome-free/css/all.min.css")}}">
    <!-- Ionicons -->
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="{{asset("admin/plugins/icheck-bootstrap/icheck-bootstrap.min.css")}}">
    <!-- Theme style -->
    <link rel="stylesheet" href="{{asset("admin/dist/css/adminlte.min.css")}}">
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
</head>

<body class="hold-transition login-page">
    <div class="login-box">
        <div class="login-logo">
            <a href="{{path("app.login")}}"><b>BO</b> - {{App.name}}</a>
        </div>
        <!-- /.login-logo -->
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Il vous reste une dernière étape,entrer votre nouveau mot de passe.
                </p>
                {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible" id="myAlert">
                    <strong>Succès!</strong> {{message}}
                </div>
                {% endfor %}
                {% for message in app.flashes('error') %}
                <div class="alert alert-danger alert-dismissible" id="myAlert">
                    <strong>Erreur!</strong> {{message}}
                </div>
                {% endfor %}
                {% for message in app.flashes('warning') %}
                    <div class="alert alert-warning alert-dismissible" id="myAlert">
                        <strong>Attention!</strong> {{message}}
                    </div>
                    {% endfor %}
                <form method="post">
                    <div class="input-group mb-3">
                        <input type="password" name="password1" class="form-control" autofocus placeholder="Nouveau mot de passe">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input type="password" name="password2" class="form-control" placeholder="Confirmer">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary btn-block">Enregistrer</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <hr>
                <div class="social-auth-links text-center mb-3">
                    <a href="{{path("app.login")}}" class="btn btn-block btn-success">
                        <i class="fa fa-sign-in-alt mr-2"></i> Se connecter
                    </a>
                </div>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <script src="{{asset("admin/plugins/jquery/jquery.min.js")}}"></script>
    <!-- Bootstrap 4 -->
    <script src="{{asset("admin/plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
    <!-- AdminLTE App -->
    <script src="{{asset("admin/dist/js/adminlte.min.js")}}"></script>

</body>

</html>