{% extends 'area/base.html.twig' %}

{% block title %}Departement index{% endblock %}

{% block left_sidebar %}
	{% include 'area/common/left-sidebar.twig' with { active: 'departement', active_: null } %}
{% endblock %}

{% block body %}

    <table id="departementDatatable" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for departement in departements %}
            <tr>
                <td>{{ departement.id }}</td>
                <td>{{ departement.name }}</td>
                <td>
                    <a href="{{ path('departement_show', {'id': departement.id}) }}">Afficher</a>
                    <a href="{{ path('departement_edit', {'id': departement.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('departement_new') }}">Ajouter</a>
{% endblock %}
{% block js %}
	<script>
$("#departementDatatable").DataTable({

"searching": true,
"order": [
[0, "DESC"]
],
"responsive": true,
"autoWidth": false
});
	</script>
{% endblock %}